@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: "Nunito-Regular";
    src: url("fonts/Nunito/static/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Nunito-Bold";
    src: url("fonts/Nunito/static/Nunito-Bold.ttf");
}




