.container {
  width: 100%;
}
@media (min-width: 0px) and (max-width: 360px) {
  html {
    font-size: 10px;
  }
  .main-content {
    width: 95%;
  }
}
@media (min-width: 360px) and (max-width: 600px) {
  html {
    font-size: 10px;
  }
  .main-content {
    width: 95%;
  }
}
@media (min-width: 601px) and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
  .main-content {
    width: 90%;
  }
}
@media (min-width: 1281px) {
  html {
    font-size: 16px;
  }
  .main-content {
    width: 65%;
  }
}
.container_header,
.header__data,
.header__background,
.header__content {
  height: 48rem;
}
/* Style the video: 100% width and height to cover the entire window
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
*/
.header__data {
  position: relative;
  z-index: 1;
  width: 100%;
}
.header__background,
.header__content {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.header__background_left,
.header__content-left {
  z-index: 7;
  width: 30%;
}
.header__background_left {
  background-color: #F9FBFF;
}
.header__background_center,
.header__content-center {
  z-index: 7;
  width: 50%;
}
.header__background_center {
  background: url("image/header_back.png");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
}
.header__background_right,
.header__content-right {
  z-index: 7;
  width: 20%;
}
.header__background_right {
  background-color: #415167;
}
.header__logo {
  margin-top: 4.7rem;
  margin-left: 10rem;
}
.header__title,
.header__button-play {
  position: absolute;
}
.header__title {
  z-index: 7;
  margin-top: 28rem;
  margin-left: 10rem;
}
.header__h1 {
  z-index: 7;
  color: #415167;
  font-family: 'Montserrat-ExtraBold';
  font-size: 3.37rem;
}
.header__h1_back-color {
  background-color: #C7A17A;
  border: 1px solid #C7A17A;
  color: #F9F5E8;
}
.header__button-play {
  z-index: 3;
  margin-top: 22rem;
  margin-left: 50%;
  margin-right: 50%;
  cursor: pointer;
}
.header__menu {
  margin-top: 4.7rem;
  margin-left: 3.5rem;
  margin-right: auto;
}
.header__menu-item-display {
  display: block;
  font-family: 'Nunito-Regular';
  font-size: 1rem;
  color: #EDF0F5;
  margin-bottom: 1.8rem;
}
.header__menu-item-display_active {
  font-family: 'Nunito-Bold';
}
.header__cart {
  margin-bottom: 7.7rem;
}
@media (min-width: 0px) and (max-width: 360px) {
  .container_header,
  .header__data,
  .header__background,
  .header__content {
    height: 66rem;
  }
  .header__logo {
    margin-top: 10px;
  }
  .header__title,
  .header__logo {
    margin-left: 5px;
  }
  .header__menu {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: auto;
  }
  .header__cart {
    margin-bottom: 1rem;
  }
  #myBtn {
    display: none;
  }
  .header__title {
    margin-top: 5rem;
  }
  .header__h1 {
    font-size: 2.5rem;
  }
  .header__background,
  .header__content {
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .header__background_left,
  .header__content-left {
    z-index: 7;
    width: 100%;
    height: calc(100%/3);
  }
  .header__background_center,
  .header__content-center {
    z-index: 7;
    width: 100%;
    height: calc(100%/3);
  }
  .header__background_right,
  .header__content-right {
    z-index: 7;
    width: 100%;
    height: calc(100%/3);
  }
  .header__background_right {
    background-color: #415167;
  }
}
@media (min-width: 360px) and (max-width: 900px) {
  .container_header,
  .header__data,
  .header__background,
  .header__content {
    height: 36rem;
  }
  .header__title,
  .header__logo {
    margin-left: 1rem;
  }
  #myBtn {
    display: none;
  }
  .header__title {
    margin-top: 22rem;
  }
  .header__h1 {
    font-size: 2rem;
  }
  .header__menu {
    margin-top: 4.7rem;
    margin-left: 1rem;
    margin-right: auto;
  }
}
@media (min-width: 901px) and (max-width: 1280px) {
  .header__title,
  .header__logo {
    margin-left: 2rem;
  }
}
.personalized {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 31.25rem;
  width: 100%;
}
.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.headline__title {
  font-family: 'Nunito-Regular';
  font-size: 1.25rem;
  color: #415167;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.headline__h2 {
  font-family: 'Montserrat-ExtraBold';
  font-size: 2rem;
  color: #415167;
  margin-top: 0;
  margin-bottom: 4.5rem;
}
.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100%/4 - 0.5rem);
}
.feature-item__image {
  margin-top: 0;
  margin-bottom: 2.75rem;
}
.item-title,
.mua,
.chi {
  font-family: 'Nunito-Bold';
}
.item-title {
  font-size: 1.75rem;
}
.feature-item__title {
  text-align: center;
  color: #415167;
  margin-top: 0;
  margin-bottom: 0.75rem;
}
.feature-item__description {
  text-align: center;
  font-family: 'Nunito-Regular';
  font-size: 1rem;
  color: #415167;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 0px) and (max-width: 360px) {
  .features {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .feature-item {
    width: 80%;
    margin-bottom: 2rem;
  }
  .headline__h2 {
    text-align: center;
  }
  .personalized {
    height: 75rem;
  }
}
.chuan__data {
  position: relative;
  z-index: 1;
  height: 59rem;
  width: 100%;
  padding-top: 6.25rem;
}
.chuan__background {
  z-index: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.chuan__background_left {
  z-index: 1;
  background-color: #415167;
  height: 59rem;
  width: 30%;
}
.chuan__background_right {
  z-index: 1;
  height: 59rem;
  width: 70%;
}
.chuan__slider {
  position: absolute;
  display: flex;
  width: 100%;
  margin-left: calc(35% / 2);
  margin-right: 0;
  z-index: 7;
}
.chuan__block {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 35rem;
  height: 16.125rem;
  margin-right: 1.5rem;
}
.chuan__block-mask {
  width: 35rem;
  height: 16.125rem;
  margin-right: 1.5rem;
  z-index: 11;
  position: absolute;
  background-color: white;
  opacity: 0.6;
}
.chuan__slider-down {
  margin-top: 18.125rem;
}
.chuan__block-image {
  z-index: 7;
  background-color: #EDF0F5;
  height: 16.125rem;
}
.block-img {
  height: 16.125rem;
}
.chuan__block-title {
  display: flex;
  flex-direction: column;
  padding-left: 2.8rem;
  padding-top: 1.5625rem;
}
.price {
  font-family: 'Nunito-Regular';
  font-size: 1.25rem;
  color: #C7A17A;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.product-name {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.product-title {
  margin-left: 0;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 1rem;
}
.buttons-pay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mua,
.chi {
  height: 2rem;
  width: 8.375rem;
  border-radius: 1.18rem;
  font-size: 1rem;
}
.mua {
  background: #C7A17A;
  color: #F9FBFF;
  border: none;
}
.chi {
  background: #FFFFFF;
  color: #415167;
  border: none;
}
.button-slider {
  position: absolute;
  z-index: 9;
  top: 37rem;
  left: auto;
  right: 4.375rem;
}
.headline,
.headline__h2,
.headline__title {
  z-index: 10;
}
@media (min-width: 0px) and (max-width: 360px) {
  .chuan__block {
    flex-direction: column;
  }
  .chuan__slider-down {
    margin-top: 36rem;
  }
  .headline_chuan {
    margin-top: 15rem;
  }
}
@media (min-width: 0px) and (max-width: 1280px) {
  .chuan__background_left {
    z-index: 1;
    background-color: white;
  }
  .chuan__slider {
    margin-left: 5%;
  }
  .button-slider {
    display: none;
  }
}
.giftset {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 31.25rem;
  width: 100%;
}
.giftset__data {
  position: relative;
  z-index: 1;
  width: 100%;
}
.giftset__background {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.giftset__background_left {
  z-index: 1;
  background-color: #EDF0F5;
  height: 59rem;
  width: 70%;
}
.giftset__background_right {
  z-index: 1;
  height: 59rem;
  width: 30%;
}
.giftset__content,
.headline_giftset {
  z-index: 7;
}
.headline__title {
  margin-top: 5.5rem;
}
.giftset__cart {
  position: relative;
}
.giftset__cart-background {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 490px;
}
.giftset__cart-background-1 {
  width: 20%;
  height: 100%;
}
.giftset__cart-background-2 {
  z-index: 1;
  background-color: #FFFFFF;
  width: 70%;
  height: 100%;
  box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.giftset__cart-background-3 {
  width: 10%;
  height: 100%;
}
.giftset__cart-content {
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 7;
  height: 490px;
}
.cart__icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}
.cart__icon-desc {
  display: flex;
  flex-direction: row;
}
.cart__desc {
  display: flex;
  flex-direction: column;
}
.product-title {
  text-align: left;
}
.cart__icon-roast-img,
.cart__icon-origin-img {
  height: 40px;
  width: 40px;
  margin-right: 16px;
}
.cart__icon-origin-desc-think {
  font-family: 'Nunito-Regular';
  font-size: 1rem;
  color: #415167;
}
.cart__icon-origin-desc-bold,
.cart__icon-origin-desc-think {
  font-family: 'Nunito-Regular';
  font-size: 1rem;
  color: #415167;
  margin-top: 0;
  margin-bottom: 0;
}
.giftset__cart-bookmark1 {
  box-sizing: border-box;
  width: 100%;
  background-color: FFFFFF;
  font-family: 'Montserrat-ExtraBold';
  font-size: 2rem;
  color: #415167;
  text-align: center;
  vertical-align: middle;
  flex-grow: 1;
}
.giftset__cart-bookmark2,
.giftset__cart-bookmark3 {
  box-sizing: border-box;
  width: 100%;
  background-color: #EDF0F5;
  font-family: 'Montserrat-ExtraBold';
  font-size: 2rem;
  color: #415167;
  text-align: center;
  flex-grow: 1;
}
.giftset__cart-img,
.giftset__cart-data-cover,
.giftset__cart-nav {
  z-index: 7;
}
.giftset__cart-img {
  width: 50%;
}
.giftset__cart-data-cover {
  margin-top: 45px;
  width: 40%;
  padding-right: 2rem;
}
.giftset__cart-data {
  width: 100%;
}
.giftset__cart-nav {
  display: flex;
  flex-direction: column;
  width: 10%;
  flex-grow: 1;
}
.bookmark__num {
  margin-top: 4rem;
  margin-bottom: 0;
}
